*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/.wakatime-project
sha.txt
/sha.txt
/app/build/outputs/bundle/debug/app-debug.aab
/app/debug/app-debug.aab
/app/release/
/app/debug/
